<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech script</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/login.css') }}"> 
    {% if mensaje_registro %}
    <p style="color: green;">{{ mensaje_registro }}</p>
    {% endif %}

</head>
<body>
    <div class="login-container">

        <!-- Formulario Iniciar Sesión -->
        <div class="container-form">
            <form class="sign-in" action="/login" method="POST">
                <h2>Iniciar Sesion</h2>
                <div class="social-networks">
                    <ion-icon name="logo-google"></ion-icon>
                    <ion-icon name="logo-facebook"></ion-icon>
                   
                </div>
                <span>Use su correo y contraseña</span>
                <div class="container-input">
                    <ion-icon name="person-outline"></ion-icon>
                    <select name="txtRol" required>
                        <option value="">Seleccione un rol</option>
                        {% for rol in roles %}
                            <option value="{{ rol.id_rol_us  }}">{{ rol.nom_tipous }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="container-input">
                    <ion-icon name="mail-outline"></ion-icon>
                    <input type="text" name="txtCorreo" placeholder="Correo electronico" required>
                </div>

                <div class="container-input">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                    <input type="password" name="txtContrasena" id="loginPassword" placeholder="Contraseña" required>
                    <span class="password-eye">
                        <ion-icon name="eye-outline"></ion-icon>
                    </span>
                </div>
                <!-- Mensaje de error -->
                {% if mensaje %}
                 <div class="mensaje-error">{{ mensaje }}</div>
                {% endif %}



                <a href="{{ url_for('recuperar_contrasena') }}">¿Olvidaste tu contraseña?</a>

                <button class="button" type="submit">
                   
                 Iniciar Sesión
                </button>
        
            </form>
        </div>

        <!-- Formulario Registro en 2 pasos -->
        <div class="container-form">
            <form class="sign-up" action="/crear-usuario" method="POST">
                <h2>Registrarse</h2>
                <div class="step-indicator"><span id="step-text">Paso 1 de 2</span></div>
                <div class="social-networks">
                    <ion-icon name="logo-google"></ion-icon>
                    <ion-icon name="logo-facebook"></ion-icon>
                </div>
                <span>Use su correo electrónico para registrarse</span>

                <!-- Paso 1 -->
                <div class="step step-1 active">
                    <div class="container-input">
                        <ion-icon name="person-outline"></ion-icon>
                        <select name="txtRol" required>
                            <option value="">Seleccione un rol</option>
                            {% for rol in roles %}
                                <option value="{{ rol.id_rol_us  }}">{{ rol.nom_tipous }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="container-input">
                        <ion-icon name="person-outline"></ion-icon>
                        <input type="text" name="txtNombre" placeholder="Nombre" required>
                    </div>
                    <div class="container-input">
                        <ion-icon name="person-outline"></ion-icon>
                        <input type="text" name="txtDocumento" placeholder="Documento" required>
                    </div>
                    <div class="container-input">
                        <ion-icon name="mail-outline"></ion-icon>
                        <input type="email" name="txtCorreo" placeholder="Correo electrónico" required>
                    </div>
                    <div class="container-input">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input type="password" name="txtContrasena" placeholder="Contraseña" required>
                        <span class="password-eye">
                            <ion-icon name="eye-outline"></ion-icon>
                        </span>
                    </div>
                    <button type="button" class="button" id="btn-next">Siguiente</button>
                </div>

                <!-- Paso 2 -->
                <div class="step step-2">
                    <div class="container-input">
                        <ion-icon name="business-outline"></ion-icon>
                        <input type="text" name="txtDireccion" placeholder="Dirección de residencia" required>
                    </div>
                    <div class="container-input">
                        <ion-icon name="call-outline"></ion-icon>
                        <input type="text" name="txtTelefono" placeholder="Celular / WhatsApp" required>
                    </div>
                    <div class="container-input">
                        <ion-icon name="location-outline"></ion-icon>
                        <select name="txtCiudad" required>
                            <option value="">Seleccione una ciudad</option>
                            {% for ciudad in ciudades %}
                                <option value="{{ ciudad.id_ciudad }}">{{ ciudad.nom_ciudad }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <!-- Tipo de Documento -->
                    <div class="container-input">
                        <ion-icon name="id-card-outline"></ion-icon>
                        <select name="txtTipoDoc" required>
                            <option value="">Seleccione un tipo de documento</option>
                            {% for doc in tipos_doc %}
                                <option value="{{ doc.id_idoc }}">{{ doc.nom_tipo }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div style="display: flex; gap: 10px;">
                        <button type="button" class="button gray" id="btn-prev">Anterior</button>
                        <button type="submit" value="Registrarse" class="button">Registrar</button>
                    </div>
                </div>
            </form>
        </div>

        <!-- Panel de bienvenida -->
        <div class="container-welcome">
            <div class="welcome-sign-up welcome">
                <h3>Bienvenido</h3>
                <p>Ingrese sus datos personales para usar todas las funciones del sitio</p>
               
                <button class="button" id="btn-sign-up">Registrarse</button>
            </div>

            <div class="welcome-sign-in welcome">
                <h3>¡Hola!</h3>
                <p>Regístrate con tus datos personales para usar todas las funciones del sitio</p>
                <button class="button" id="btn-sign-in">Iniciar Sesion</button>
            </div>
        </div>

    </div>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="{{ url_for('static', filename='JS/login.js') }}"></script>
</body>
</html>

